<html>
    <head>
        <title>Detail Info [ {{ detail_info.FileID }} ]</title>
    </head>
    <body>
        <form action="{% url 'update' type_id table_name detail_info.FileID %}" method="post">
            {% csrf_token %}
        {% if detail_info %}
        <table>
            {% for key, val in detail_info.items %}
            <tr>
                <td>{{ key }}</td>
                {% if val %}
                <td>
                    <input type="text" value="{{ val }}" name="{{ key }}" readonly/>
                </td>
                {% else %}
                <td>
                    <input type="text" value="{{ val }}" name="{{ key }}"/>
                </td>
                {% endif %}
            </tr>
            {% endfor %}
            <tfoot>
                <tr>
                    <td colspan="2">
                        <input type="submit" value="Update" />
                        <input type="button" value="Clear" />
                    </td>
                </tr>
            </tfoot>
        </table>
        {% else %}
        <p> No Detail Data! </p>        
        {% endif %}
        </form>
    </body>

</html>
